name: Build
on:
  pull_request:
  push:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]
    steps:
      - name: Get the sources
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install .NET Core SDK (global.json)
        uses: actions/setup-dotnet@v3
        with:
          global-json-file: global.json

      - name: Run Cake script
        id: build-cake
        uses: cake-build/cake-action@v1
        with:
          target: Default
          cake-version: tool-manifest
      - name: Group of log lines
        run: |
            echo "::group::My title"
            echo "::group::Nested Group"
            echo "Inside nested group"
            echo "::endgroup::"
            echo "Inside group"
            echo "::endgroup::"
